# Para conectar e ler os Joy-Cons/Pro Controller
pydualsense
hidapi
streamlit
# Para cálculos numéricos e análise de sinal (FFT)
numpy
scipy

# Para plotar os gráficos
matplotlib

pandas
scikit-learn
joblib

# Para redução dimensional e visualização
umap-learn
